.App_container__cards{
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  min-height: 100vh;
}
.Section__App{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
}
.App__load{
  display: grid;
  place-content: center;
  min-height: 100vh;
}
